@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1666164191481') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuang-juxing:before {
  content: "\eb97";
}

.icon-xingzhuang-tuoyuanxing:before {
  content: "\eb99";
}

.icon-xingzhuang-sanjiaoxing:before {
  content: "\eb9a";
}

.icon-xianduan:before {
  content: "\e602";
}

.icon-rotate-ccw:before {
  content: "\e66a";
}

.icon-zhizhangfangxiang:before {
  content: "\edf5";
}

