.roy-color-picker {
  position: relative;
  text-align: left;
  font-size: 14px;
  display: inline-block;
  outline: none;
  border: 1px solid var(--roy-color-primary);

  ul,
  li,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .roy-color-picker__color-btn {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  .roy-color-picker__color-btn.disabled {
    cursor: no-drop;
  }

  .roy-color-picker__box {
    position: absolute;
    width: 190px;
    background: #fff;
    border: 1px solid #ddd;
    visibility: hidden;
    border-radius: 2px;
    margin-top: 2px;
    padding: 10px;
    padding-bottom: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: all 0.3s ease;
    box-sizing: content-box;

    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: normal;
      margin-top: 10px;
      margin-bottom: 5px;
      line-height: 1;
      color: #333;
    }

    input {
      visibility: hidden;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .roy-color-picker__box.open {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  .hd {
    overflow: hidden;
    line-height: 29px;

    .roy-color-picker__color-view {
      width: 100px;
      height: 30px;
      float: left;
      transition: background-color 0.3s ease;
    }

    .roy-color-picker__default-color {
      width: 80px;
      float: right;
      text-align: center;
      border: 1px solid #ddd;
      cursor: pointer;
      color: #333;
    }
  }

  .roy-color-picker__t-color {
    li {
      width: 15px;
      height: 15px;
      display: inline-block;
      margin: 0 2px;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    li:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      transform: scale(1.3);
    }
  }

  .roy-color-picker__b-color {
    li {
      width: 15px;
      display: inline-block;
      margin: 0 2px;

      li {
        display: block;
        width: 15px;
        height: 15px;
        transition: all 0.3s ease;
        margin: 0;
        cursor: pointer;
      }

      li:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        transform: scale(1.3);
      }
    }
  }

  .roy-color-picker__m-color {
    padding: 3px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-left: 5px;
  }
}
