@import "./variable.scss";
@import "./font/LXGW.css";

.roy-designer-container {
  font-family: LXGW New Clear Gothic Book, Helvetica Neue, Helvetica, Arial, PingFang SC, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-weight: 400;
  font-size: var(--roy-font-size-base);
  color: var(--roy-text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  a {
    color: var(--roy-color-primary);
    text-decoration: none;
    &:hover, &:focus {
      color: var(--roy-color-primary-light-3)
    }
    &:active {
      color: var(--roy-color-primary-dark-2)
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--roy-text-color-regular);
    font-weight: inherit
  }

  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0
  }

  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0
  }

  h1 {
    font-size: calc(var(--roy-font-size-base) + 6px)
  }

  h2 {
    font-size: calc(var(--roy-font-size-base) + 4px)
  }

  h3 {
    font-size: calc(var(--roy-font-size-base) + 2px)
  }

  h4, h5, h6, p {
    font-size: inherit
  }

  p {
    line-height: 1.8
  }

  p:first-child {
    margin-top: 0
  }

  p:last-child {
    margin-bottom: 0
  }

  sup, sub {
    font-size: calc(var(--roy-font-size-base) - 1px)
  }

  small {
    font-size: calc(var(--roy-font-size-base) - 2px)
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid var(--roy-border-color-lighter)
  }

  .el-message {
    border-radius: 2px;
    padding: 10px 15px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .el-menu-item.is-active::before {
    content: '';
    width: 4px;
    height: 80%;
    background: var(--roy-color-primary);
    position: absolute;
    top: 10%;
    border-radius: 0 10px 10px 0;
    left: 0;
  }

  .el-menu {
    background: var(--roy-bg-color);
    border-right: solid 1px var(--roy-menu-border-color);
  }

  .el-menu-item {
    i, span {
      color: var(--roy-text-color-regular);
    }
  }

  .halo-tree {
    padding: 0;

    .tree-node-el, .tree-expand {
      background: var(--roy-bg-color-overlay);
    }

    .node-title:hover, .node-selected {
      background: var(--roy-color-primary-light-5);
    }
  }

  .splitter-pane-resizer {
    background: #555!important;
    background-clip: padding-box!important;
    &.vertical {
      height: calc(100% - 20px)!important;
      margin: 10px 0 0 -5px!important;
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--prism-background);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: var(--prism-background);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #e2e2e2;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #d9d9d9;
  }

  ::selection {
    background: var(--roy-color-primary-dark-2);
    color: #fff;
  }
}

#roy-print-template-designer[theme='dark'] {
  ::-webkit-scrollbar-thumb {
    background: #424242;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #606060;
  }

  ::selection {
    background: #ccc;
    color: #000;
  }
}
