@import "./base.scss";

.roy-designer-container {
  background: var(--prism-background);
  width: 100%;
  height: 100%;

  .roy-designer-header {
    background: #4978e4;
    width: 100%;

    @media (prefers-color-scheme: dark) {
      & {
        background: #222222;
      }
    }
    .roy-designer-header__text {
      color: #fff;
      display: flex;
      height: 100%;
      align-items: center;
    }
  }

  .roy-designer-aside {
    margin: 10px 5px 10px 10px;
    .roy-designer-aside__main {
      height: 100%;
      width: 100%;
      display: flex;
      background: #fff;
      .roy-designer-aside__menu {
        height: 100%;
        .el-menu-item {
          overflow: hidden;
          padding: 0;
        }
        .roy-designer-aside__menu__icon {
          display: grid;
          top: -7px;
          position: relative;
          align-items: center;
          vertical-align: center;
          align-content: center;
          i {
            padding: 0;
            margin: 0;
            font-size: 20px;
          }
          span {
            line-height: 14px;
            visibility: visible;
            height: auto;
            width: auto;
            font-size: 8px;
            top: -14px;
            position: relative;
          }
        }
      }
      .roy-designer-aside__right_panel {
        width: calc(100% - 64px);
        background: var(--roy-bg-color-overlay);
      }
    }
  }

  .roy-designer-main {
    width: 60%;
    margin: 5px;
    border-radius: 2px;
    overflow: auto;
    padding: 0;
    .roy-designer-main__page {
      height: calc(100% - 50px);
      padding: 10px;
      background-color: rgb(255, 255, 255);
      background-image: linear-gradient(45deg, rgb(247, 247, 247) 25%, transparent 25%), linear-gradient(-45deg, rgb(247, 247, 247) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgb(247, 247, 247) 75%), linear-gradient(-45deg, transparent 75%, rgb(247, 247, 247) 75%);
      background-size: 20px 20px;
      background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
      @media (prefers-color-scheme: dark) {
        background-color: #1c1c1c;
        background-image: linear-gradient(45deg, #212121 25%, transparent 25%), linear-gradient(-45deg, #232323 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #232323 75%), linear-gradient(-45deg, transparent 75%, #232323 75%);
      }
      #designer-page {
        margin: auto;
        padding: 15px;
        background: var(--roy-bg-color);
        box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
        width: calc(210mm * 1.25);
        height: calc(297mm * 1.25);
      }
    }
    .roy-designer-main__toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .roy-designer-main__toolbar_left {
        display: flex;
        justify-content: start;
      }
      .roy-designer-main__toolbar_right {
        display: flex;
        justify-content: end;
      }
      .roy-designer-main__toolbar__item {
        cursor: pointer;
        background: var(--roy-bg-color);
        display: grid;
        width: 18px;
        height: 18px;
        font-size: 10px;
        line-height: 18px;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
        padding: 4px;
        text-align: center;
        border-radius: 4px;
        & + .roy-designer-main__toolbar__item {
          margin-left: 5px;
        }
        &:hover {
          background: var(--roy-bg-color-page);
        }
        i {
          padding: 0;
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }
}
