.roy-row::after {
  clear: both;
}

.roy-row--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.roy-row--flex:after,
.roy-row--flex:before {
  display: none;
}

.roy-row--flex.is-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.roy-row--flex.is-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.roy-row--flex.is-justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.roy-row--flex.is-justify-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.roy-row--flex.is-align-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.roy-row--flex.is-align-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.roy-row--flex.is-align-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
